@import "vars"
@import "fonts"
@import "libs"


/* --- All page --- */

.logo, .footer-logo
    height: 50px
    img
        height: 100%
        width: 100%

/* --- Home page --- */

/* navbar */

.navbar-area.nav-style-01
    background-color: rgba(36,36,36,0.5)



/* customer */

.customer-area .content h1
    margin-top: 110px

/*tour*/

.tour-area
    margin-bottom: 0

/* --- All Tour page --- */

.breadcrumb-slider
    height: 400px
    .slick-dots
        bottom: 15px
    .slider-bottom
        margin-top: 50px
        
.breadcrumb-style-3
    min-height: 400px

/* --- Single Tour Page ---*/

.breadcrumb-style-01
    min-height: 400px
    p
        color: var(--paragraph-color)
        padding: 0 60px
.fun-facts .fun-content .fun-text p
    line-height: 18px
.explore-area .explore_right h1
    line-height: 60px

.search-popup
    .form-area.search-form
        padding-top: 450px
        position: fixed
        border-radius: 4px
        h4
            text-align: center
            padding-top: 20px
            font-size: 32px
        .form-field
            width: 90%
            // padding-left: 5%
            margin: 30px auto
        .btn.btn-element
            margin: 0 auto

/* --- Blog Page --- */

.blog-content.blog-page
    .blog-left-content
        >.row
            justify-content: space-between
            margin-left: 0
            margin-right: 0
        .img-item
            // flex-direction: column
            width: 50%
        .slider-item
            width: 100%
            flex-grow: 1
            // margin-left: 0
            // margin-right: 0


    // max-width: 50%
    // flex-wrap: wrap      
        // position: fixed
        // z-index: 100
        // // background-color: #fff
        // top: 50%
        // left: 50%
        // .form-group.search-form
        //     background-color: #fff
        //     height: 100%
        //     .search-form
        //         position: fixed


@import "media" // Always at the end
